<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WPF_ScSvStub.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <userSettings>
        <WPF_ScSvStub.Properties.Settings>
            <setting name="TargetAppDirectory" serializeAs="String">
                <value>.</value>
            </setting>
            <setting name="TargetAppFilenameBase" serializeAs="String">
                <value>SchackMediaViewer</value>
            </setting>
            <setting name="TargetAppFilenameExtension" serializeAs="String">
                <value>.exe</value>
            </setting>
            <setting name="MainTargetAppDirectory" serializeAs="String">
                <value> @"C:\Users\LocallyMe\Source\Repos\SchackMediaViewer\V1\SchackMediaViewer\bin\Debug"</value>
            </setting>
            <setting name="MainTargetAppFilenameBase" serializeAs="String">
                <value>SchackMediaViewer</value>
            </setting>
            <setting name="MainTargetAppFilenameAppendage" serializeAs="String">
                <value />
            </setting>
            <setting name="MainTargetAppFilenameExtension" serializeAs="String">
                <value>.exe</value>
            </setting>
            <setting name="CPPreviewTargetAppDirectory" serializeAs="String">
                <value> @"C:\Users\LocallyMe\Source\Repos\SchackMediaViewer\V1\SchackMediaViewer\bin\Debug"</value>
            </setting>
            <setting name="CPPreviewTargetAppFilenameBase" serializeAs="String">
                <value>SchackMediaViewer</value>
            </setting>
            <setting name="CPPreviewTargetAppFilenameAppendage" serializeAs="String">
                <value>_CPP_</value>
            </setting>
            <setting name="CPPreviewTargetAppFilenameExtension" serializeAs="String">
                <value>.exe</value>
            </setting>
            <setting name="CPConfigureTargetAppDirectory" serializeAs="String">
                <value> @"C:\Users\LocallyMe\Source\Repos\SchackMediaViewer\V1\SchackMediaViewer\bin\Debug"</value>
            </setting>
            <setting name="CPConfigureTargetAppFilenameBase" serializeAs="String">
                <value>SchackMediaViewer</value>
            </setting>
            <setting name="CPConfigureTargetAppFilenameAppendage" serializeAs="String">
                <value>_CPC_</value>
            </setting>
            <setting name="CPConfigureTargetAppFilenameExtension" serializeAs="String">
                <value>.exe</value>
            </setting>
            <setting name="UseDevDirectory" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseSeparateExes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowCommandLines" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowModifierKeystates" serializeAs="String">
                <value>False</value>
            </setting>
        </WPF_ScSvStub.Properties.Settings>
    </userSettings>
</configuration>